.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20%;
  margin: 10px 10px;
  border: 1px solid #083074;
  border-radius: 5px;
}

.product-activity {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
